<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Quadrow</title>
    <meta name="description" content="A better way to connect four...">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="all">
    <meta name="keywords" content="quadrow,aerodeck,mobile,connect,four,node, ios, iphone, androis, web, connect-four, connect four, nodejs">
    <link rel="canonical" href="index.html">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src='js/angular.js'></script>
    <script src='js/kinetic-v4.3.1.min.js'></script>
    <script src='js/jquery-1.9.0.min.js'></script>
    <script src='js/service.js'></script>
  </head>
  <body bgcolor='#777'>
    <div id='container'>
      <div id='canvas'>
      </div>
      <div id='login'>
        <form method='POST'>
            <input type='text' id='username_login' placeholder='username' />
            <br>
            <input type='password' id='password_login' placeholder='password' />
            <br>
            <input type='submit' id='submit_login' value='Login' />
        </form>
      </div>
      <div ng-controller="signupController" id='signup'>
        <form ng-submit='usersPOST()' method='POST'>
            <input type='text' id='fullName_signup' required ng-model='user.fullName' placeholder='your name' />
            <br>
            <input type='text' id='username_signup' required ng-model='user.username' placeholder='username' />
            <br>
            <input type='text' id='email_signup' required ng-model='user.email' placeholder='email' />
            <br>
            <input type='password' id='password_signup' required ng-model='user.password' placeholder='password' />
            <br>
            <input type='submit' id='submit_signup' value='Signup' />
        </form>
      </div>
      <script src='js/resize.js'></script>
      <script src='js/main.js'></script>
    </div>
  </body>
</html>
